@import "abstracts";
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

$main-bg: #1d1d1d;
$main-ff: "Open Sans", sans-serif;
// $main-ff: "Anonymous Pro", monospace;
html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-ff;
  background: $main-bg;
  color: white;
  font-size: 14px;
}

h1 {
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.no-scroll {
  overflow: hidden;
}

header {
  padding: 1rem;
  nav {
    display: flex;
    li {
      text-align: center;
      margin-bottom: 2rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
        height: 1px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.8);
        transform: scaleX(0);
        transition: transform 0.2s ease-in;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
    a {
      color: turquoise;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
  .hamburger,
  .close {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 100;
  }
  .menu {
    opacity: 0;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 50;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
  }

  .active {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }
}

main {
  width: 70%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 4rem;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: -2rem;
  }
  section {
    position: relative;
    width: 100%;
    padding-bottom: 3rem;
    .left {
      width: 100%;
      flex-basis: 60%;
    }
    .right {
      flex-basis: 40%;
      width: 40%;
    }
  }
  section + section {
    margin-top: 3rem;
  }

  .text {
    margin: 2rem 0;
  }

  .main-section {
    .main-heading {
      font-size: 5rem;
      margin: 2rem 0;
    }
  }

  .section-header {
    display: flex;
    span {
      font-size: 3rem;
    }
  }

  .section-heading {
    font-size: 4rem;
    position: relative;
    &::after {
      content: "+";
      position: absolute;
      top: -35px;
      left: -2.6rem;
      font-weight: 400;
      vertical-align: middle;
      background: $main-bg;
      height: calc(150% + 50px);
      z-index: 5;
      padding-bottom: 2rem;
      display: flex;
      align-items: center;
    }
  }

  .btn {
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 18px;
    &:hover {
      color: #1d1d1d;
      background: rgb(207, 232, 241);
    }
  }

  .skills-list {
    margin: 3rem 0;
    &-item {
      margin-bottom: 1rem;
      font-weight: 700;
    }
    .progress {
      font-size: 0;
      line-height: 0;
      width: 100%;
      background: #373737;
      border-radius: 5px;
      height: 2px;
      margin-top: 4px;
      overflow: hidden;
      .bar {
        height: 100%;
      }
      .bar-1 {
        width: 80%;
        background: turquoise;
      }
      .bar-2 {
        width: 80%;
        background: rebeccapurple;
      }
      .bar-3 {
        width: 60%;
        background: red;
      }
      .bar-4 {
        width: 50%;
        background: yellow;
      }
      .bar-5 {
        width: 20%;
        background: rgb(67, 67, 180);
      }
      .bar-6 {
        width: 50%;
        background: green;
      }
    }
  }
  #project-section {
    display: block;
    .sub-heading {
      margin-top: 1rem;
    }
  }

  .projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .project {
    // margin-bottom: 2rem;
    position: relative;
    height: 200px;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform 0.4s;
    }

    .link {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      z-index: 10;
      font-weight: bolder;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(black, 0.7);
      border-radius: 50%;
      text-align: center;
      text-transform: uppercase;
      color: white;
      transition: all 0.2s ease-in;
      opacity: 0.9;
      cursor: pointer;
      &:hover {
        pointer-events: all;
        background: rgba(black, 0.9);
      }
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: turquoise;
      opacity: 0;
      transition: opacity 0.4s;
      z-index: 1;
      pointer-events: none;
    }
  }
  form {
    margin-top: 2rem;
    max-width: 400px;
    & > * {
      color: white;
      font-family: inherit;
      width: 100%;
      background: transparent;
      border: 2px solid white;
      outline: none;
      margin-top: 1rem;
      padding: 0.6em;
      &:active,
      &:focus {
        border-color: turquoise;
      }
    }
  }
}
.self-img {
  max-width: 300px;
  width: 90%;
}

@media screen and (min-width: 850px) {
  header {
    nav {
      all: unset;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 3rem;
    }
    .hamburger {
      display: none;
    }
    .menu {
      all: unset;
      text-decoration: none;
      list-style-type: none;
      li {
        margin-bottom: 3rem;
      }
      a {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }
  main {
    margin-left: 15rem;
    section {
      display: flex;
    }
    .projects {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .project {
      .link {
        opacity: 0;
      }
      &:hover img {
        transform: scale(1.1);
      }

      &:hover .link {
        opacity: 1;
      }

      &:hover .overlay,
      &:focus .overlay,
      &:active .overlay {
        opacity: 0.2;
      }

      &:hover .link-section,
      &:focus .link-section,
      &:active .active-section {
        opacity: 1;
      }
    }
  }
}
